.button-primary {
  background: #0e6fff;
  padding: 8px 24px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}
.button-secondary {
  background: transparent;
  padding: 6px 22px;
  border: 1px solid #ff4242;
  outline: none;
  border-radius: 5px;
  color: #0e6fff;
  font-weight: 600;
}
