.card-section {
  padding: 50px 100px;
}

.card-heading-text {
  font-weight: bolder;
  font-size: 28px;
  color: #000;
  margin-bottom: 40px;
}
.card-section-link {
  text-align: right;
}
@media only screen and (min-width: 600px) and (max-width: 1050px) {
  .card-col {
    margin: 15px 0;
  }
}
@media only screen and (max-width: 600px) {
  .card-section {
    padding: 50px;
  }

  .card-section-link {
    text-align: start;
  }
}
