.carousel-section {
  padding: 50px 0;
}
.carousel-heading-text {
  font-weight: 600;
  font-size: 32px;
  color: #000;
  margin-bottom: 24px;
}
.carousel-para {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 14px;
}
