.footer-section {
  background: #23242a;
}
.footer-section-container {
  margin-bottom: 30px;
}
.footer-main-heading {
  margin-bottom: 30px;
}
.footer-link-heading {
  color: #9e9fa0;
}
.footer-text {
  padding: 0 100px 0 0;
}
.footer-link {
  color: #fff;
  transition: all 0.3s;
}
.footer-link:hover {
  color: #0e6fff;
  text-decoration: none;
}
.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #696969;
  margin: 0;
  padding: 0;
}
.footer-graveyard-link {
  color: #9e9fa0;
}
@media only screen and (max-width: 600px) {
  .footer-text {
    padding: 0;
  }
}
